<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../node_modules/vue-router/dist/vue-router.js"></script>
</head>
<body>
  <div id="app">
    <router-link to="/home">首页</router-link>
    <router-link to="/login">登录</router-link>
    <router-link to="/blog">博客</router-link>
    <router-link to="/out">登出</router-link>

    <router-view></router-view>
  </div>

  <script>
    Vue.use(VueRouter);

    var Home = {
      template:`<div>我是首页</div>`
    }

    var Login = {
      template:`<div>
          姓名:<input type="text" v-model="name"></input>
          密码:<input type="password" v-model="password"></input>
          </br>
          <button @click="login">提交</button>
        </div>`,
      methods:{
        login(){
          localStorage.setItem("user",this.name+"_"+this.password);
          this.$router.push({name:"blog"});
        }
      },
      data(){
        return{
          name:"",
          password:""
        }
      }
    }

    var Blog = {
      template:`<div>我是博客</div>`
    }

    var Out = {
      template:`<div><a href="javascript:void(0);" @click="logout">退出</a></div>`,
      methods:{
        logout(){
          console.log("log out");
          localStorage.removeItem("user");
          this.$router.push("/login")
        }
      }
    }

    var router = new VueRouter({
        routes:[
          {
            path:"/home",
            component:Home
          },
          {
            path:"/login",
            component:Login
          },
          {
            path:"/blog",
            name:"blog",
            meta:{//导航守卫
              auth:'true'
            },
            selfDefine:{//自定义的在实例中没有，说明没有代码实例化这块内容
              flag:true
            },
            component:Blog,
          },
          {
            path:"/out",
            component:Out
          }
        ]
    });

    router.beforeEach((to, from, next) => {
      // console.log(to);
      // console.log(from);
      if(to.meta.auth){
        //debugger
        if(localStorage.getItem("user")){
          next()
        }else{
          console.log(1);
          //this.$router.push({ name: 'login' });
          //redirect("/login");
          next({path:"/login"});
        }
      }else{
         next();
      }

      //next(); 如果没有return，这里会覆盖next的路径，跳转会出问题
    });

    new Vue({
      el:`#app`,
      template:``,
      router,
      data(){
        return {
          msg:'测试'
        }
      }
    });
  </script>
</body>
</html>